<p>Ask your coach anything</p>
<form action="/answer" data-turbo="false">
  <div class="form-row">
    <div class="col-auto">
  <input type="text" name="question" class="form-control">
    </div>
    <div class="col-auto">
      <input type="submit" value="Ask!" class="btn btn-primary px-5">
    </div>

  </div>
</form>
